.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        = @group.name
      %ul.RightHeader__memberList
        Member : 
        - @group.users.each do |user|
          = user.name
    .RightHeader__editBtn
      = link_to edit_group_path(@group), class: "editBtn" do
        Edit
    
  .MessageField
    = render @messages
    -# .MessaeBox
    -#   .MassageInfo
    -#     .MassageInfo__userName
    -#     .MassageInfo__date
    -#   .Message
    -#     .Message__content
      
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
  

    -# %form.Form
    -#   .Form__contents
    -#     %input{"type": "text", class: "Form__contents__text ", "placeholder": "type a message"}
    -#     %label{class: "Form__contents__image"}
    -#       = icon('fas', 'image')
    -#       %input{type: "file", class: "Form__contents__image__file"}
    -#   %input{type: "submit", value: "Send", class:"submit-btn"}
      

  
  